<form action="">
    <h2>Formulario de Post</h2>

    <label for="title">Titúlo</label>
    <input type="text" name="title">

    <label for="content">Conteúdo:</label>
    <textarea name="content" id="" cols="30" rows="10"></textarea>

    <button type="submit">Cadastras</button>
</form>